* {
    border: 0;
    padding: 0;
    margin: 0;
}

ul, ol {
    display: flex;
    gap: 4px;
    justify-content: space-between
}

ul > li , ol > li {
    list-style-type: none;
}

li:hover {
    cursor: pointer;
}

.cambioColor {
    color: red;
}